{{ form_start(form) }}
    {{ form_errors(form) }}

<div>
    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username,{ 'attr':{'readonly':'readonly'} }) }}
</div>

<div>
    {{ form_label(form.password) }}
    {{ form_errors(form.password) }}
    {{ form_widget(form.password) }}
</div>

<div>
    {{ form_label(form.newpass) }}
    {{ form_errors(form.newpass) }}
    {{ form_widget(form.newpass) }}
</div>

<div>
    {{ form_label(form.confirmpass) }}
    {{ form_errors(form.confirmpass) }}
    {{ form_widget(form.confirmpass) }}
</div>

<div>
    {{ form_widget(form.changepass) }}
</div>

{{ form_end(form) }}