{{ form_start(form) }}
    {{ form_errors(form) }}

<div>
    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username) }}
</div>

<div>
    {{ form_label(form.password) }}
    {{ form_errors(form.password) }}
    {{ form_widget(form.password) }}
</div>
<div>
    Remember me: {{ form_widget(form.check) }}
</div>
<div>
    {{ form_widget(form.login) }}
</div>

{{ form_end(form) }}