<center>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>

    <div>
        {{ form_label(form.text) }}
        {{ form_errors(form.text) }}
        {{ form_widget(form.text, { 'attr': {
            'rows' : '30',
            'cols' : '30' }} ) }}
    </div>

    <div>
        {{ form_label(form.date) }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date, { 'attr':{'readonly':'readonly'}}) }}
    </div>

    <div>
        {{ form_widget(form.edit) }} {{ form_widget(form.delete) }}
    </div>

    {{ form_end(form) }}
</center>