<div align="center">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div>
        {{ form_label(form.author) }}
        {{ form_errors(form.author) }}
        {{ form_widget(form.author, { 'attr':{'readonly':'readonly'}}) }}
    </div>

    <div>
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
    </div>

    <div>
        {{ form_label(form.text) }}
        {{ form_errors(form.text) }}
        {{ form_widget(form.text) }}
    </div>
    <div>
        {{ form_row(form.tags) }}
    </div>

    <div>
        {{ form_widget(form.edit) }} {{ form_widget(form.delete) }}
    </div>
    {% for comment in form.comments %}
        {{ form_row(comment.author) }}
        {{ form_row(comment.text) }}
        {% if admin == 1 %}
            {{ form_row(comment.post,{ 'label': 'Delete' } ) }}
        {% endif %}
    {% endfor %}
    {{ form_end(form) }}
</div>