<!DOCTYPE html>
<html>
<head>
    <style>
        {{ source('css/news.css') }}
    </style>
</head>

<body>
<div id="page">
    <div id="header">
        {% include ':default:header.html.twig' %}
    </div>
    {% if username %}
        <div id="user">
            Welcome {{ username }}!
            {% include 'default/user-panel.html.twig' %}
        </div>
    {% endif %}

    <div id="news">
        <div id="edit_news_form_labels">
            <div class="div_padding">
                Author:
            </div>
            <div class="div_padding">
                Title:
            </div>
            <div class="div_padding">
                Text:
            </div>
            <div class="div_padding">
                Tags:
            </div>
        </div>
        <div id="edit_news_form">
            <div>
                <input title="author"
                       type="text"
                       id="form_author"
                       name="form[author]"
                       readonly="readonly"
                >
            </div>
            <div>
                <input title="title"
                       type="text"
                       id="form_title"
                       name="form[title]"
                       required="required"
                >
            </div>
            <div>
                <input title="Text"
                       type="text"
                       id="form_text"
                       name="form[text]"
                       required="required"
                >
            </div>
            <div>
                <input title="Tags"
                       type="text"
                       id="form_tags"
                       name="form[tags]"
                >
                <div>
                    Tag format: tag1,tag2...
                    no special characters
                </div>
            </div>
            <div>
                {{ form_widget(form.edit) }} {{ form_widget(form.delete) }}
            </div>
            {% for comment in form.comments %}
                {{ form_row(comment.author) }}
                {{ form_row(comment.text) }}
                {% if admin == 1 %}
                    {{ form_row(comment.post,{ 'label': 'Delete' } ) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</body>

