<center>
    <div>
        <a href="/login"> Login </a>
    </div>
    <div>
        <a href="/search"> Search by author </a>
    </div>
    <div>
        <a href="mailto:zeljko.nedeljkovic@gmail.com">Contact Me</a>
    </div>

    {% for key,value in newslist %}
        <div>
            {{ value.title }}
        </div>
        <div>
           <textarea rows="4" cols="50">
               {{ value.text }}
            </textarea>
        </div>
        <div>
            Author: <a href="/authors/{{ value.author }}">{{ value.author }}</a> Date: {{ value.date|date('d-m-Y') }}
        </div>
    {% endfor %}
</center>