<!DOCTYPE html>
<html>
<head>
    <style>
        {{ source('css/news.css') }}
    </style>
</head>

<body>
<div id="page">
    <div id="header">
        {% include ':default:header.html.twig' %}
    </div>
    {% if username %}
        <div id="user">
            Welcome {{ username }}!
            {% include 'default/user-panel.html.twig' %}
        </div>
    {% endif %}

    <div id="news">
        {% if msg %}
            {{ msg }}
        {% else %}
            {% for value in newsList %}
                <div id="news_title">
                    <a href="/news/{{ value.id }}">{{ value.title }}</a>
                </div>
                <div id="news_text">
                    {{ value.text }}
                </div>
                <div id="tags">
                    <div>
                        Tags:
                        {% for key,tags in value.tags %}
                            <a href="/tags/{{ tags.tag }}">{{ tags.tag }} </a>,
                        {% endfor %}
                    </div>
                    Author: <a href="/authors/{{ value.author }}">{{ value.author }}</a>
                    Date: {{ value.date|date('d-m-Y') }}
                </div>

            {% endfor %}
        {% endif %}
    </div>
</div>
</body>
