<div>
    {{ newslist.0.title }}
</div>

<div>
    {{ newslist.0.text }}
</div>

<div>
    <a href="/authors/{{ newslist.0.author }}">{{ newslist.0.author }}</a>
</div>

<div>
    {{ newslist.0.date|date('Y-m-d') }}
</div>

<div>
    {{ newslist.0.title }}
</div>

<div>
    {{ newslist.0.title }}
</div>

<div>
    {{ newslist.0.title }}
</div>