<center>
    <div>
        <a href="/login"> Login </a>
    </div>
    <div>
        <a href="/search"> Search by author </a>
    </div>
    <div>
        <a href="mailto:zeljko.nedeljkovic@gmail.com">Contact Me</a>
    </div>

    {% for key,value in newslist %}
        <div>
            <b>
                {{ value.title }}
            </b>
        </div>
        <table border="2" style="width:20%">
            <tr>
                <td>
                    {{ value.text }}
                </td>
            </tr>
        </table>
        <div>
            Author: <a href="/authors/{{ value.author }}">{{ value.author }}</a> Date: {{ value.date|date('d-m-Y') }}
            {% for key,vrednost in value.comment %}
                <table border="0" style="width:15%">
                    <tr>
                        <td>{{ vrednost.author }}:</td>
                        <td>{{ vrednost.text }}</td>
                    </tr>
                </table>
            {% endfor %}
        </div>
    {% endfor %}
</center>