<!DOCTYPE html>
<html>
<head>
    <style>
        {{ source('css/news.css') }}
        {{ source('css/classes.css') }}
    </style>
</head>

<body>
<div id="page">
    <div id="header">
        {% include 'default/header.html.twig' %}
    </div>
    {% if username %}
        <div id="user">
            Welcome {{ username }}!
            {% include 'default/user-panel.html.twig' %}
        </div>
    {% endif %}

    <div id="news">
        {% for value in newsList %}
            <div id="news_title">
                <a href="/news/{{ value.id }}">{{ value.title }}</a>
            </div>
            <div id="news_text">
                {{ value.text }}
            </div>
            <div id="tags">
                <div>
                    Tags:
                    {% for key,tags in value.tags %}
                        {{ tags.tag }},
                    {% endfor %}
                </div>
                <a href="/edit-news/{{ value.id }}"> Edit </a>
            </div>

        {% endfor %}
    </div>
</div>
</body>