<!DOCTYPE html>
<html>
<head>
    <style>
        {{ source('css/news.css') }}
    </style>
</head>

<body>
<div id="page">
    <div id="header">
        {% include ':default:header.html.twig' %}
    </div>
    {% if username %}
        <div id="user">
            Welcome {{ username }}!
            {% include 'default/user-panel.html.twig' %}
        </div>
    {% endif %}

    <div id="news">
        <div id="change_password_form_labels">
            <div class="div_padding">
                Username:
            </div>
            <div class="div_padding">
                password:
            </div>
            <div class="div_padding">
                new password:
            </div>
            <div class="div_padding">
                confirm new password:
            </div>
        </div>
        <div id="change_password_form">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div>
                {{ form_widget(form.username,{ 'attr':{'readonly':'readonly'} }) }}
            </div>

            <div>
                {{ form_widget(form.password) }}
            </div>

            <div>
                {{ form_widget(form.newPass) }}
            </div>

            <div>
                {{ form_widget(form.confirmPass) }}
            </div>

            <div>
                {{ form_widget(form.changePass) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>
</body>
