<!DOCTYPE html>
<html>
<head>
    <style>
        {{ source('css/news.css') }}
        {{ source('css/classes.css') }}
    </style>
</head>

<body>
<div id="page">
    <div id="header">
        {% include 'default/header.html.twig' %}
    </div>
    {% if username %}
        <div id="user">
            Welcome {{ username }}!
            {% include 'default/user-panel.html.twig' %}
        </div>
    {% endif %}

    <div id="news">
        {% for value in newsList %}
            <div id="news_title">
                <a href="/news/{{ value.id }}">{{ value.title }}</a>
            </div>
            <div id="news_text">
                {{ value.text }}
            </div>
            <div id="tags">
                <div>
                    Tags:
                    {% for key,tags in value.tags %}
                        {{ tags.tag }},
                    {% endfor %}
                </div>
                Author: <a href="/authors/{{ value.author }}">{{ value.author }}</a>
                Date: {{ value.date|date('d-m-Y') }}
            </div>
            <div id="comments">
                {% for key,vrednost in value.comments %}
                    <div id="comment_text">
                        {{ vrednost.text }}
                    </div>
                    {{ vrednost.author }}  {{ vrednost.date|date('d:m:Y H:i:s') }}
                {% endfor %}
            </div>
        {% endfor %}

        <div id="add_comment">
            <div>
                Comment:
            </div>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div>
                {{ form_label(form.author) }}
                {{ form_errors(form.author) }}
                {{ form_widget(form.author) }}
            </div>

            <div>
                {{ form_label(form.text) }}
                {{ form_errors(form.text) }}
                {{ form_widget(form.text) }}
            </div>

            <div>
                {{ form_widget(form.post , { 'label': 'Post' }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
</body>
