<!DOCTYPE html>
<html>
<head>
    <style>
        {{ source('css/news.css') }}
    </style>
</head>

<body>
<div id="page">
    <div id="header">
        {% include 'default/header.html.twig' %}
    </div>
    {% if username %}
        <div id="user">
            Welcome {{ username }}!
            {% include 'default/user-panel.html.twig' %}
        </div>
    {% endif %}

    <div id="search_author">
        {{ form_start(form) }}
        {{ form_row(form.author, { 'attr':{'placeholder':'Search by author'} }) }}
        {{ form_row(form.submit, { 'attr':{'label':'Search'} } ) }}
        {{ form_end(form) }}

    </div>
</div>
</body>
